---
title: Thank You
permalink: /list-signup.html
---
<!DOCTYPE HTML>
<!--
  Venue by Pixelarity
  pixelarity.com @pixelarity
  License: pixelarity.com/license
-->
<html>
  <head>
  {% include head.html %}
  <meta name="description" content="Don't click this link. Seriously, you have to earn it." />
  </head>

  <body class="no-sidebar">
    <div id="page-wrapper">

      {% include header.html %}

      <!-- Main -->
        <div id="main" class="light">
          <div class="container">

            <!-- Content -->
              <div class="row">
                <div id="content" class="12u">
                  <article>
                    <header>
                      <h2>Hey, thanks...</h2>
                      <span class="byline">...we really appreciate your trust!</span>
                    </header>

                    <p>You're all set to get occasional messages with our best information inside on topics like security, software development, OSINT and more. Thanks for your interest!</p>

                    <br>
                    <br>

                    <p><i>(P.S. - you can always email me personally at <a href="mailto:dakota@strikersecurity.com">dakota@strikersecurity.com</a>. I'd love to hear from you!)</i></p>

                  </article>
                </div>
              </div>

          </div>
        </div>

      {% include footer.html %}

    </div>

    {% include scripts.html %}

  </body>
</html>
