---
title: Thank You
permalink: /list-signup.html
---
<!DOCTYPE HTML>
<!--
  Venue by Pixelarity
  pixelarity.com @pixelarity
  License: pixelarity.com/license
-->
<html>
  <head>
  {% include head.html %}
  <meta name="description" content="Don't click this link. Seriously, you have to earn it." />
  </head>

  <body class="no-sidebar">
    <div id="page-wrapper">

      {% include header.html %}

      <!-- Main -->
        <div id="main" class="light">
          <div class="container">

            <!-- Content -->
              <div class="row">
                <div id="content" class="12u">
                  <article>
                    <header>
                      <h2>Woohoo! You did it!</h2>
                      <span class="byline">You're ready to start learning</span>
                    </header>

                    <p>You're all set on the path toward building OSINT tools to do amazing things. Start thinking of great ideas now - you'll need them soon!</p>

                    <p>To get learning right away, you can follow me on Twitter at <a href="https://twitter.com/jerkota" target="_blank">@jerkota</a>.</p>

                    <br>
                    <br>

                    <p style="margin-bottom: 300px;"><i>(P.S. - you can always email me personally at <a href="mailto:dakota@strikersecurity.com">dakota@strikersecurity.com</a>. I'd love to hear from you!)</i></p>

                  </article>
                </div>
              </div>

          </div>
        </div>

      {% include footer-lite.html %}

    </div>

    {% include scripts.html %}

  </body>
</html>
