---
title: Thank You
permalink: /osint-training-signup
---
<!DOCTYPE HTML>
<!--
  Venue by Pixelarity
  pixelarity.com @pixelarity
  License: pixelarity.com/license
-->
<html>
  <head>
  {% include head.html %}
  <meta name="description" content="Don't click this link. Seriously, you have to earn it." />
  </head>

  <body class="no-sidebar">
    <div id="page-wrapper">

      {% include header.html %}

      <!-- Main -->
        <div id="main" class="light">
          <div class="container">

            <!-- Content -->
              <div class="row">
                <div id="content" class="12u">
                  <article>
                    <header>
                      <h2>Woohoo! You did it!</h2>
                      <span class="byline">And I can't thank you enough</span>
                    </header>

                    <p>Over the next few months, I'll be working hard to bring you the best OSINT automation and tool development course I can muster - and I'll make sure to keep you in the loop every step of the way. At the end of our journey together, you'll be the first to hear about the course launch (and get a great discount to boot)!</p>

                    <p>The most important part of this process, though, is you. I want to make sure that what I create achieves my goal - enabling you to build the kind of tools you always wished you could use. I read every reply to the emails I send, and if you have other questions or ideas, you can always email me personally at <a href="mailto:dakota@strikersecurity.com">dakota@strikersecurity.com</a>. I'd love to hear from you!</p>

                    <p>The only thing left to do is <b>visit your inbox and click "confirm" on the email you just got from me</b>, and then we'll be off!</p>

                    <br>
                    <br>

                    <p>Gratefully,</p>
                    <p>Dakota Nelson</p>

                    <p style="margin-bottom: 200px;"><i> P.S. - You can also stay up to date by following me on Twitter: <a href="https://twitter.com/jerkota" target="_blank">@jerkota</a></i></p>

                  </article>
                </div>
              </div>

          </div>
        </div>

      {% include footer-lite.html %}

    </div>

    {% include scripts.html %}

  </body>
</html>
