---
title: Projects - Striker Security
permalink: /projects/
---
<!DOCTYPE HTML>
<!--
  Venue by Pixelarity
  pixelarity.com @pixelarity
  License: pixelarity.com/license
-->
<html>
  {% include head.html %}

  <body class="no-sidebar">
    <div id="page-wrapper">

      {% include header.html %}

      <!-- Main -->
        <div id="main" class="light">
          <div class="container">
            <section>
              <header>
                <h2>Projects</h2>
              </header>
            </section>
            <div class="row" style="padding-bottom: 6em;">
              <section class="6u 12u(mobile)">
                <a href="/projects/sneaky-creeper-covert-data-exfiltration/"><img src="/images/sneaky-creeper.jpg" alt="" class="image featured" /></a>
                <h3>Sneaky-Creeper</h3>
                <span class="details">Smuggle data covertly through third-party services</span>
                <a href="/projects/sneaky-creeper-covert-data-exfiltration/" class="button">Get Started</a>
              </section>
              <section class="6u 12u(mobile)">
                <a href="/projects/pushpin-web-geotagged-social-media/"><img src="/images/projects.jpg" alt="" class="image featured" /></a>
                <h3>Pushpin-Web</h3>
                <span class="details">Keep a finger on the pulse of social media in the real world</span>
                <a href="/projects/pushpin-web-geotagged-social-media/" class="button">Get Started</a>
              </section>
          </div>
        </div>

      {% include footer.html %}

    </div>

    {% include scripts.html %}

  </body>
</html>
