---
title: Pushpin-Web Social Media Monitoring - Striker Security
permalink: /projects/pushpin-web-geotagged-social-media/
---
<!DOCTYPE HTML>
<!--
  Venue by Pixelarity
  pixelarity.com @pixelarity
  License: pixelarity.com/license
-->
<html>
  {% include head.html %}

  <body class="no-sidebar">
    <div id="page-wrapper">

      {% include header.html %}

      <!-- Main -->
        <div id="main" class="light">
          <div class="container">

            <!-- Content -->
              <div class="row">
                <div id="content" class="12u">
                  <article>
                    <header>
                      <h2>Pushpin-web</h2>
                      <span class="byline">See social media in the real world</span>
                      <a class="github-button" href="https://github.com/dakotanelson/pushpin-web/archive/master.zip" data-icon="octicon-cloud-download" data-style="mega" aria-label="Download dakotanelson/pushpin-web on GitHub">Download</a>
                      <a class="github-button" href="https://github.com/dakotanelson/pushpin-web" data-icon="octicon-star" data-style="mega" data-count-href="/dakotanelson/pushpin-web/stargazers" data-count-api="/repos/dakotanelson/pushpin-web#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star dakotanelson/pushpin-web on GitHub">Star</a>
                    </header>

                    <h3>People are talking - are you listening?</h3>
                    <p>Social media permeates modern society. Whether it's customers, competitors, or criminals, they're broadcasting to the world - and to you, if you listen.</p>

                    <p>Pushpin-web provides a simple and intuitive interface to keep an eye on social media around your real-world assets. While other platforms focus on marketing or branding with keyword-focused search, pushpin-web keeps its eyes on the physical world by collecting and displaying geotagged media near critical locations you designate.</p>

                    <p>Best of all, it's free.</p>

                    <center><img src="/images/pushpin-rapidcity-map.jpg" width="80%" alt="a screenshot of pushpin-web's interface showing pins representing social media around Rapid City South Dakota"></center>

                    <p style="margin-top: 15px;">Striker Security built pushpin-web from the ground up on behalf of Black Hills Information Security, the project's sponsor, who has graciously released it under a permissive open-source MIT license. Striker's customers can receive a private deployed instance, training, and development on the core open-source software or bespoke private modifications - <a href="/contact/" id="body-contact">contact us today</a> to get started.</p>

                  </article>
                </div>
              </div>

          </div>
        </div>

      {% include footer.html %}

    </div>

    {% include scripts.html %}

  </body>
</html>
