---
title: Services - Striker Security
permalink: /services/
---
<!DOCTYPE HTML>
<!--
  Venue by Pixelarity
  pixelarity.com @pixelarity
  License: pixelarity.com/license
-->
<html>
  {% include head.html %}

  <body class="no-sidebar">
    <div id="page-wrapper">

      {% include header.html %}

      <!-- Main -->
        <div id="main" class="light">
          <div class="container">

            <!-- Content -->
              <div class="row">
                <div id="content" class="12u">
                  <article>
                    <header>
                      <h2>How can we help?</h2>
                      <!-- <span class="byline">Something clever goes here</span> -->
                    </header>

                    <h3>Project Support</h3>
                    <p>Stuck? We can help. Whether it's designing, developing, or deploying, having a second set of eyes by your side can make all the difference. With project support, a Striker engineer will be parachuted in to work side-by-side with you - in person or remotely via screenshare - on your pressing issues. A cross between training and consulting, project support combines the extra productivity of a consultant with the in-house knowledge growth that comes from training. If you're tired of consultantware solutions that limp along on expensive life support because nobody knows how they work - this is for you. Let us know <a href="/contact/" id="project-support-contact">how we can help</a>.</p>

                    <h3>Intelligence Collection</h3>
                    <p>You need to know - we can find out. Striker specializes in the collection and analysis of intelligence data - generally from open sources (OSINT). Striker's strong development and engineering focus allows for a broad spectrum of capability delivery - from bespoke operations through the design and implementation of a continuous intelligence reporting pipeline. We work closely with our customers to determine what will provide the most leverage, and as always, we're excited about any opportunity to work with or train in-house talent - <a href="/contact/" id="intelligence-collection-contact">contact us</a> to get started.</p>

                    <h3>Training</h3>
                    <p>Looking to build your skills? Striker can deliver remote or onsite training on software development, security, reconnaissance, intelligence gathering, and much more. Our project-based methodology emphasizes on hands-on skills that last. <a href="/contact/" id="training-contact">Reach out</a> and let us know how we can help you learn.</p>

                    <h3>Security Research & Development</h3>
                    <p>The bulk of our work. Please <a href="/contact/" id="r-and-d-contact">get in touch</a> to discuss your vision.</p>

                  </article>
                </div>
              </div>

          </div>
        </div>

      {% include footer.html %}

    </div>

    {% include scripts.html %}

  </body>
</html>
