---
title: Sneaky-Creeper Covert Data Exfiltration - Striker Security
permalink: /projects/sneaky-creeper-covert-data-exfiltration/
---
<!DOCTYPE HTML>
<!--
  Venue by Pixelarity
  pixelarity.com @pixelarity
  License: pixelarity.com/license
-->
<html>
  {% include head.html %}

  <body class="no-sidebar">
    <div id="page-wrapper">

      {% include header.html %}

      <!-- Main -->
        <div id="main" class="light">
          <div class="container">

            <!-- Content -->
              <div class="row">
                <div id="content" class="12u">
                  <article>
                    <header>
                      <h2>Sneaky-creeper</h2>
                      <span class="byline">Sneakily creeping in and out of your network</span>
                      <p>Available on <a href="https://www.github.com/dakotanelson/sneaky-creeper" target="_blank">Github</a>!
                    </header>

                    <h3>What's leaving your network through the CRM?</h3>
                    <p>Modern enterprises rely on third-party cloud services extensively. Do you monitor data uploaded to them? This trust can be abused to smuggle critical business data past perimeter defenses. Instead of building and maintaining custom infrastructure to control malicious software, attackers can simply rely on legitimate third parties to transport their data for them.</p>

                    <center><img src="/images/sneaky-creeper-diagram.png" width="60%" alt="diagram of sneaky-creeper's functionality, showing the ability to link encoder modules and channel modules together to obfuscate then transport data across the internet"></center>

                    <p>Sneaky-creeper is an open-source project that allows security professionals to emulate the tactics of these advanced adversaries quickly and without expensive custom tools. Its permissive license and modular design allow for the easy addition of additional transport methods to tailor an assessment for your unique requirements.</p>

                    <p>Striker Security is the primary contributor to sneaky-creeper, with unparalleled depth of expertise. <a href="/contact/" id="body-contact">Contact us today</a> for custom exfiltration channels, feature additions, training, or operational support, or get involved <a href="https://github.com/dakotanelson/sneaky-creeper" target="_blank">on Github</a>!</p>

                  </article>
                </div>
              </div>

          </div>
        </div>

      {% include footer.html %}

    </div>

    {% include scripts.html %}

  </body>
</html>
