---
title: Cyber Security and Reconnaissance Consulting - Striker Security
permalink: /
---
<!DOCTYPE HTML>
<!--
  Venue by Pixelarity
  pixelarity.com @pixelarity
  License: pixelarity.com/license
-->
<html>
  {% include head.html %}

  <body class="homepage">
    <div id="page-wrapper">

      {% include header.html %}

      <!-- Banner -->
        <div id="banner">
          <div class="container">
            <section>
              <header>
                <h2>Striker Security: When you need to know</h2>
                <!-- <h2>Illuminate the network</h2> -->
                <span class="byline">Digital intelligence, surveillance, and reconnaissance for the modern enterprise</span>
              </header>
              <a href="/contact/" class="button" id="contact-button">Contact Us</a>
            </section>
          </div>
        </div>

      <!-- Featured -->
        <div id="featured">
          <div class="container">
            <div class="row">

              <!-- Featured 1 -->
                <section class="4u 12u(mobile)">
                  <header>
                    <h2>Security research</h2>
                    <span class="byline">Gain the edge</span>
                  </header>
                  <div class="box-style">
                    <p>Striker's primary focus is operations support and R&D for security programs. We build and maintain a portfolio of proactive capabilities available to vetted customers. Get in touch to learn more.</p>
                  </div>
                  <a href="/services/" class="button" id="security-research">More Info</a>
                </section>

              <!-- Featured 2 -->
                <section class="4u 12u(mobile)">
                  <header>
                    <h2>Competitive intelligence</h2>
                    <span class="byline">Know your opponent</span>
                  </header>
                  <div class="box-style">
                    <p>You can't play the game if you don't know the field. Striker's information gathering expertise provides you with the tools to react more quickly and intelligently in a complex environment.</p>
                  </div>
                  <a href="/services/" class="button" id="competitive-intelligence">More Info</a>
                </section>

              <!-- Featured 3 -->
                <section class="4u 12u(mobile)">
                  <header>
                    <h2>Situational awareness</h2>
                    <span class="byline">See through the fog</span>
                  </header>
                  <div class="box-style">
                    <p>Whatever the concern, we want to make sure you're never surprised. Striker designs and implements bespoke intelligence systems that provide continuous value where it's needed most.</p>
                  </div>
                  <a href="/services/" class="button" id="situational-awareness">More Info</a>
                </section>

            </div>
          </div>
        </div>

      <!-- Main -->
        <div id="main">
          <div class="container">
            <section>
              <header>
                <h2>We stay busy</h2>
                <!-- <span class="byline">Learn more about what we do and how we do it</span> -->
              </header>
              <!-- <span class="divider">&#38;nbsp;</span> -->
            </section>
            <div class="row">
              <section class="4u 12u(mobile)">
                <a href="/blog/" id="blog-image"><img src="images/blog.jpg" alt="" class="image featured" /></a>
                <h3>Blog</h3>
                <span class="details">Get an inside look at Striker Security</span>
                <a href="/blog/" class="button" id="blog-read-more">Read More</a>
              </section>
              <section class="4u 12u(mobile)">
                <a href="/projects/" id="projects-image"><img src="images/projects.jpg" alt="" class="image featured" /></a>
                <h3>Projects</h3>
                <span class="details">See some of our public capabilities</span>
                <a href="/projects/" class="button" id="projects-read-more">Read More</a>
              </section>
              <section class="4u 12u(mobile)">
                <a href="/services/" id="services-image"><img src="images/about.jpg" alt="" class="image featured" /></a>
                <h3>Services</h3>
                <span class="details">Learn about how we can help you win</span>
                <a href="/services/" class="button" id="services-read-more">Read More</a>
              </section>
            </div>
          </div>
        </div>

      <!-- Portfolio -->
        <div id="portfolio">
          <div class="container">
            <section>
              <header>
                <span class="byline">Interested in digital intelligence and security? Enter your email below and get personalized information straight to your inbox.</span>
              </header>
            </section>
          </div>
        </div>

      {% include footer.html %}

    </div> <!-- page-wrapper -->

    {% include scripts.html %}

  </body>
</html>
