<!-- Header -->
<div id="header">
  <div class="container">

    <!-- Logo -->
    <h1 id="logo"><a href="/"><img src="/images/striker-security-primary-120px.png" alt="Striker Security logo"></img></a></h1>

    <!-- Nav -->
      <nav id="nav">
        <ul>
          <li><a href="/blog/" id="blog-nav">Blog</a></li>
          <li><a href="/projects/" id="projects-nav">Projects</a></li>
          <li class="break"><a href="/services/" id="services-nav">Services</a></li>
          <li><a href="/contact/" id="contact-nav">Contact</a></li>
        </ul>
      </nav>

  </div>
</div>
