.mc-field-group {
  padding-top: 10px;
  width: 100%;
  float: left;
}

#mc-embedded-subscribe {
  margin-top: 15px;
}

#mc_embed_signup_scroll {
  overflow: auto;
}

#footer .inner form {
  width: 100%;
}
