---
---
<!DOCTYPE HTML>
<!--
  Venue by Pixelarity
  pixelarity.com @pixelarity
  License: pixelarity.com/license
-->
<html>

  <head>
  {% include head.html %}

  <!-- OpenGraph meta tags -->
  <meta name="description" content="{{ page.description }}" />

  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:description" content="{{ page.description }}" />
  <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
  <meta property="og:type" content="blog" />
  <meta property="og:image" content="{{ site.url }}/images/blog-banners/{{ page.banner }}" />
  </head>

  <body class="right-sidebar">
    <div id="page-wrapper">

      {% include header.html %}

      <!-- Main -->
        <div id="main" class="light">
          <div class="container">

            <div class="row">

              <!-- Content -->
                <div id="content" class="8u 12u(mobile)">
                  <article>
                    <header>
                      <img src="{{ page.banner | prepend: "/images/blog-banners/" }}" width="100%" alt="A banner for the blog post - it's mean to look good but not really mean anything."></img>
                      <h2>{{ page.title }}</h2>
                      <span class="byline">{{ page.byline }}</span>
                      <span><i>{{ page.author }}</i></span><br>
                      <span><i>{{ page.date | date: "%b %d, %Y" }}</i></span>
                    </header>

                    {{ content }}

                    <i>Was this useful? Consider giving us your email below so we can send you more great stuff!</i>

                  </article>
                </div>

              <!-- Sidebar -->
                <div id="sidebar" class="4u 12u(mobile)">

                  <section>
                    <header>
                      <h2 id="all-posts">All Posts<a href="{{ site.url }}/feed.xml" target="_blank"><img id="rss-icon" src="{{ site.url }}/images/rss-icon.jpg" alt="The logo for RSS" /></a></h2>
                    </header>
                    <ul class="style1">
                      {% for post in site.posts %}
                      <li id="{{ post.title | slugify }}"><a href="{{ post.url }}">{{ post.title }}</a></li>
                      {% endfor %}
                    </ul>
                    <!-- <a href="/contact/" class="button" id="contact&#45;us&#45;sidebar">Contact Us</a> -->

                    {% include social-buttons.html %}
                  </section>

                </div>

            </div>
          </div>
        </div>

      {% include footer.html %}

    </div>

    {% include scripts.html %}

  </body>
</html>
